{% extends "index.html" %}
{% block info %}
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/index" class="nav-link">系统信息</a>
        </li>
        <li class="nav-item">
          <a href="/otherInfo" class="nav-link">其他信息</a>
        </li>
        <li class="nav-item disabled">
          <a href="#" class="nav-link">Disabled</a>
        </li>
</ul>
{% if dataTitle %}
<label style="margin-top: 15px;">{{ dataTitle }}</label>
{% endif %}
<div class="container">

        <ul class="list-group">
        {% if infoType == 'hostInfo' %}
        {% for item in data %}
            {% if item.is_exec %}                    
                <li class="list-group-item"><span>{{ item.info }}:</span>&nbsp;&nbsp;{{ item.cmdret }}</li>
            {% else %}
                <li class="list-group-item item-error"><span style="color:black">{{ item.info }}:</span>&nbsp;&nbsp;{{ item.retopt }}</li>
            {% endif %}
        {% endfor %}
        {% elif  infoType == 'otherInfo' %}
        {% for item in data %}
             <li class="list-group-item">{{ item }}</li>
        {% endfor %}
        {% endif %}
        </ul>
</div>
{% endblock %}