{% extends "index.html" %}
{% block info %}
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/sourceInfo" class="nav-link">资源信息</a>
        </li>
        <li class="nav-item">
          <a href="/serviceManage" class="nav-link">服务信息</a>
        </li>
        <li class="nav-item disabled">
          <a href="#" class="nav-link">Disabled</a>
        </li>
</ul>
{% if dataTitle %}
<label style="margin-top: 15px;">{{ dataTitle }}</label>
{% endif %}
<div class="container">
        {% if infoType == 'source' %}
        {% if  listData %}
        <ul class="list-group" id='list-group'>
        {% for data in listData %}
        <li class="list-group-item"><span>{{ data }}</span></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if tableData %}
        <table class="table table-hover" style="table-layout:fixed;margin-top:20px; font-size:1.2em">
            <thead>
                {% for data in tableData[0].split() %}
                <th>{{ data }}</th>
                {%  endfor %}
            </thead>
            <tbody id='table-group'>
                {% for entry in tableData[1:] %}
                <tr>
                {% for data in entry.split() %}
                <td>{{ data }}</td>
                {% endfor %}
                </tr>
                {%  endfor %}
            </tbody>      
        </table>
        <script type="text/javascript">
            (function(){
                clearTimeout(timer);
                var timer = setInterval(function(){
                    getSourceInf();
                 },1500);
            })()
            function getSourceInf(){
                postRequest('/getSourceInfo','{}',true, sourceInfRet)
            }
            function sourceInfRet(ret){
                console.log(ret)
                var listHtml = '';
                var tableHtml = '';
                var listGroup = document.getElementById('list-group')
                var tableGroup = document.getElementById('table-group')
                for(var i = 0; i< ret['listData'].length; i++){
                    listHtml +='<li class="list-group-item"><span>'+ ret['listData'][i] +'</span></li>';
                }
                for(var j = 1; j< ret['tableData'].length; j++){
                    tableHtml +='<tr>';
                    var retry = ret['tableData'][j]
                    for(var k = 0; k < retry.length; k++){
                        tableHtml += '<td>'+ retry[k] +'</td>'
                    }
                    tableHtml += '</tr>';
                }
                listGroup.innerHTML=listHtml;
                tableGroup.innerHTML=tableHtml;
            }
        </script>
        {% endif %}
        {% endif %}
        
        {% if infoType == 'service' %}
        <table class="table table-hover" style="table-layout:fixed; font-size:1.2em">
                <thead>
                    <tr>
                        <th>协议</th>
                        <th>本地地址</th>
                        <th>外部地址</th>
                        <th>状态</th>
                        <th>PID/服务名</th>
                      </tr>
                </thead>
                <tbody>
                    {% if is_exec %}
                        {% for entry in cmdret %}
                            <tr><td>{{ entry[0] }}</td><td>{{ entry[3]}}</td><td>{{ entry[4] }}</td><td>{{ entry[5] }}</td><td>{{ entry[6]}}</td></tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <form action="/manageService" method="post" name="manageService" style="display:inline; font-size:1.2em; margin-top:10px;">
                <label style="color:red;font-size:0.8em">注：表单提交建议使用systemctl或service命令管理的服务</label><br>
				{{ form.hidden_tag() }}
                    服务名:
                    {{ form.serviceName(size=20) }}
                    操作类型:
                    <input id="manageType-0" name="manageType" type="radio" value="start">
                    <label for="manageType-0">启动服务</label>&nbsp;&nbsp;
                    <input id="manageType-1" name="manageType" type="radio" value="stop">
                    <label for="manageType-1">停止服务</label>&nbsp;&nbsp;
                    <input id="manageType-2" name="manageType" type="radio" value="restart">
                    <label for="manageType-2">重启服务</label><br>
                    <br>
                    自定义命令:
                   {{ form.customCmd(size=50) }}<br><br>
                   <input type="reset" class="btn btn-info" name="reset" value="重置">&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" class="btn btn-primary" name="submit" value="确定">
                </form>
        {% endif %}
</div>
{% endblock %}